<h1>以下の内容で送信する</h1>
<%= form_with(model: @mutter, url:mutter, local: true,method :put) do |form| %>
     <%= form.hidden_field :content %>
     
    <p>つぶやき:<%= @mutter.content %></p>
    <%= form.submit "登録する" %>
<% end %>