<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Achieve</title>
    <!--<link rel="stylesheet" href="assets/stylesheets/normalize.css">-->
    <link rel="stylesheet" href="assets/stylesheets/sample.css.erb">
</head>
<body>
  <header>
    <ul>
      <li><%= link_to 'つぶやき一覧' ,list_mutters_path %></li>
      <li><%= link_to '新規作成' ,new_mutter_path %></li>
    </ul>
  </header>
  <section class="main-header">
    <%#= image_tag 'header2.jpg' %>
    <!--<img src="vendors/images/achieve.png">-->
  </section>
  <section class="about">
    <h1>About Achieve</h1>
    <p>
      Achieveは、受講生のために作成された、教材用ページです。<br>
      Achieveを作り終えることで、HTML課題を合格することができます。
    </p>
    <div class="space_grey"></div>
    <p>
      Achieveは、受講生のために作成された、教材用ページです。<br>
      Achieveを作り終えることで、HTML課題を合格することができます。
    </p>
    <p>Acheiveを一言で表すと、タスク管理アプリケーションのトップページのモックアップです。<br>
      チームメンバーが、今どのタスクを行っているか把握することができる、というアプリケーションの機能を説明をするページです。
    </p>
  </section>
  </body>
</html>
